#title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 60px;
    
  }



