#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#info{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    width: 980px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

#info img{
    height: 400px;
}

#info p{
    text-align: center;
    margin-left: 5px;
}